/*main_mob_footbox.css*/
@media screen and (max-width:480px) {
#footbox { display:none; }
#mob_footbox {
  box-sizing:border-box; padding-top:12px;
  width: 100%; height:75.91666666666667vw; background-color: #333333;}
#mob_footbox > h2 {
  margin: auto; 
  width: 115px; height: 63px;
  background-image: url(../../../../img/vans_main_moblie/footbox/foot_logo.png);
  background-repeat: no-repeat;
  background-position: center;}
.mob_area_info {width: 100%; height: 180px;}
.mob_area_info > ul {width: 100%; height: 180px; background-color: #333333;}
.mob_area_info > ul > li {
  text-align:center; font-size:3.5vw;
  width: 100%; height:20px; color:#fff;}
.mob_area_info > ul > li > span {font-weight:bold; color:#589bc6;}

/*mob_foot_unb*/
.mob_foot_unb {
  
  width: 100%; height:15vw; background-color: #000000;}
.mob_foot_unb > ul {width: 100%; height: 100%; }
.mob_foot_unb > ul > li {
  margin-left:2.291666666666667vw;
  float:left;width:22%; height: 100%; }
.mob_foot_unb > ul > li:nth-child(1) {
  background-image:url(../../../../img/vans_main_moblie/footbox/icon_01.png);
  background-repeat: no-repeat;
  background-position: center;}
.mob_foot_unb > ul > li:nth-child(2){
  background-image:url(../../../../img/vans_main_moblie/footbox/icon_02.png);
  background-repeat: no-repeat;
  background-position: center;}
.mob_foot_unb > ul > li:nth-child(3){
  background-image:url(../../../../img/vans_main_moblie/footbox/icon_03.png);
  background-repeat: no-repeat;
  background-position: center;}
.mob_foot_unb > ul > li:nth-child(4){
  background-image:url(../../../../img/vans_main_moblie/footbox/icon_04.png);
  background-repeat: no-repeat;
  background-position: center;}
.mob_foot_unb > ul > li > a {width: 100%; height: 100%; display:block;}



}