/*main_mob_adbox.css*/
@media screen and (max-width:480px) {
#adbox {
  overflow-x:hidden;
  position:relative; margin-top:12.5vw;
  width: 100%; height:110vw; }

/*indicater*/
.indicater {
  position:absolute; bottom:8%; left:50%; margin-left:-100px;
  width:200px; height: 8.333333333333333vw;}
.indicater > ul {
  margin: auto;width: 180px; height: 30px;}
.indicater > ul > li {
  float:left;margin-left:10px;
  width:53px; height: 15px; background-color: #ccc;}
.indicater > ul > li:nth-child(1){margin-left:0;}
.indicater > ul > li > a {width: 100%; height: 100%; display:block;}
.indicater > ul > li > a:hover {background-color: #000;}
.indicater > ul > li > a:focus {background-color: #000;}

.indicater > ul > li.active >a{background-color:#000;}


/*adbox_wrap*/
.adbox_wrap {width: 300%; height: 80.83333333333333vw;}

/*bannerbox_01*/
.bannerbox_01 {
  float:left;
  position:relative;
  width:33.333333%; height: 80.83333333333333vw;
  background-image: url(../../../../img/vans_main_moblie/adbox/banner_001.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;}
.bannerbox_01 > p{
  position: absolute; bottom:35%;  right:3%;
  width: 206px; height:60px;
  background-image: url(../../../../img/vans_main_moblie/adbox/slipon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;}
.button_00{
  position:absolute; right:10%;bottom:8%;
  width: 160px; height: 55px;
  background-image: url(../../../../img/vans_main_moblie/adbox/takealook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  animation:hc 650ms infinite alternate;}
.button_00 > a {width: 100%; height: 100%; display:block;}
.button_00:hover {
  background-image:url(../../../../img/vans_main_moblie/adbox/takealook_on.png);
  background-repeat: no-repeat;
  background-position: center;}

/*bannerbox_02*/
.banner_01 {display:none;}
.banner_02 {display:none;}
.bannerbox_02 {
  float:left;
  width:33.333333%; height:80.83333333333333vw;
  background-image:url(../../../../img/vans_main_moblie/adbox/adbox_banner_02.png);
  background-repeat: no-repeat;
  background-position: center;
  }

/*bannerbox_03*/
.bannerbox_03 {
  float:left;
  width:33.333333%; height:80.83333333333333vw;
  background-image: url(../../../../img/vans_main_moblie/adbox/adbox_banner_03.png);
  background-repeat: no-repeat;
  background-position: center;}

/*down_btn*/
.down_btn {
  position:absolute; bottom:1px; left:50%; margin-left:-10%;
  width:20%; height:10%;
  background-image:url(../../../../img/vans_main_moblie/adbox/down-arrow.png);
  background-repeat: no-repeat;
  background-position: bottom; 
  background-size:contain;}
/*top_btn*/
.top_btn {
  position:fixed; top:60%;right:10px; z-index:1000;
  float:left; width:50px; height:50px;
  background-image:url(../../../../img/vans_main_pc/vans_btn.jpg);
  background-repeat:no-repeat;
  background-position:center; }
.top_btn:hover {
  background-image:url(../../../../img/vans_main_pc/vans_btn_on.jpg);
  background-repeat: no-repeat;
  background-position: center;}
.top_btn:focus {
  background-image:url(../../../../img/vans_main_pc/vans_btn_on.jpg);
  background-repeat: no-repeat;
  background-position: center;}
.top_btn > a {display:block; width: 100%; height: 100%;transition:all 500ms;}

@keyframes hc {
  0%{transform:translateY(-0.8rem);} 
    
  100%{transform:translateY(0.8rem);} }




}