@media screen and (min-width:1366px){
#productbox {
  box-sizing:border-box; padding-top:6.784773060vw;
  width: 100%; height: auto;}

#productbox > h2 {
  margin: auto; 
  width: 50%; height:14.78770131vw;
  background-image:url(../../../../img/vans_main_pc/productbox/newproduct.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;}

/*product_wrap*/
.product_wrap {
  margin-top:4.392386530vw; 
  width: 100%; height:52.5651537vw;}
.product_wrap > ul {width: 100%; height:51.24450951vw;}
.product_wrap > ul > li {
  float:left; margin-left:2.5%;
  width:30%; height:51.244509516vw;}


/*pd_img*/
.pd_01 {
  width: 100%; height:29.28257686vw;
  background-image:url(../../../../img/vans_main_pc/productbox/img_01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}
.pd_01:hover {background-image: url(../../../../img/vans_main_pc/productbox/img_01_on.jpg);}
.pd_02 {
  width: 100%; height:29.28257686vw;
  background-image:url(../../../../img/vans_main_pc/productbox/img_02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;}
.pd_02:hover {background-image:url(../../../../img/vans_main_pc/productbox/img_02_on.jpg);}
.pd_03 {
  width: 100%; height:29.28257686vw;
  background-image:url(../../../../img/vans_main_pc/productbox/img_03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;}
.pd_03:hover {background-image:url(../../../../img/vans_main_pc/productbox/img_03_on.jpg);}
.button_00 > a {width: 100%; height: 100%; display:block;}
/*newproduct_text*/
.pd_dl {
  box-sizing:border-box; padding-top:1.4641288433vw; 
  width: 100%; height: 21.96193265vw; 
  font-size:1.5rem; text-align:center;}

.pd_dt {
  width: 100%; height: 10.641288433vw;
  background-color: #fff; font-weight:bold; line-height:4rem;}
.pd_dt > strong{color:#C00000;}

.pd_dd {
  margin-top:60px; text-align:center;
  width: 100%; height:5.124450951vw;}





}