/*main_pcfull_headbox.css*/
@media screen and (min-width:1366px){

#headbox {
  position:relative;
  width: 100%; height: 30%; background-color: #fff}

  h1 {
  position:absolute;
  top:27%; left:50%; margin-left:-9%;
  width:18%; height:75%; 
  background-image:url(../../../../img/vans_main_pc/headbox/logo.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;}

/*unbbox*/
.unbbox {
  width: 100%; height:30%;}
.unbbox > ul { 
  margin: auto;box-sizing:border-box; padding-top:0.7320644vw;
  width: 70%; height:90%; }
.unbbox > ul > li { 
  float:left; 
  width:100%; height:80%;}
.unbbox > ul > li:nth-child(1) {
  margin-left:13%; width:20%;
  background-image:url(../../../../img/vans_main_pc/headbox/unb/icon_01.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;}
.unbbox > ul > li:nth-child(2) {
  margin-left:5%;  width:20%;
  background-image:url(../../../../img/vans_main_pc/headbox/unb/icon_02.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;}
.unbbox > ul > li:nth-child(3) {
  margin-left:5%; width:20%;
  background-image:url(../../../../img/vans_main_pc/headbox/unb/icon_03.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;}
a {display:block; width:100%; height:100%;}

/*moblie navibox*/
.mob_navibox {display:none;}
/*-------------*/

/*navibox*/
.navibox {
  margin-top:3%;
  width: 100%; height:60%; background-color:#fff;}
.navibox > ul {
  margin: auto;
  width: 100%; height:80%; background-color: #fff;}
.navibox > ul > li {
  float:left;margin-top:3%;cursor:pointer;
  text-align:center;font-size:2rem; font-weight:bold; 
  width:100%; height:60%;}
.navibox > ul > li:nth-child(1) {width:10%;}
.navibox > ul > li:nth-child(2) {margin-left:3%; width:12%;}
.navibox > ul > li:nth-child(3) {margin-left:3%; width:9%;}
.navibox > ul > li:nth-child(4) {margin-left:23%; width:12%;}
.navibox > ul > li:nth-child(5) {margin-left:2%; width:12%;}
.navibox > ul > li:nth-child(6) {margin-left:1.5%; width:12%;}

.navibox > ul > li:hover::after{
  content: ""; display: block;
  width:50px; margin: auto; margin-top:10px; 
  border-bottom:3px solid #C00000;}





}