/*main_pcfull_footbox.css*/
@media screen and (min-width:1366px)  {
#footbox {
  box-sizing:border-box; padding-top:20px;
  width: 100%; height:300px;background-color: #333333; }
.foot_wrap {width:1000px; height: auto; margin: auto;}

.foot_wrap > h2 {
  float:left; margin-top:150px;
  width:200px; height:100px;
  background-image:url(../../../../img/vans_main_pc/footbox/foot_logo.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:contain;}

/*area_info*/
.area_info {
  box-sizing:border-box; padding-top:10px;
  float:left; margin-left:80px; width:450px; height:auto;}
.area_info > ul { width: 100%; height:95%;}
.area_info > ul > li {
  margin-top:5px;
  width: 100%; height: 10%; color:#fff;}
.area_info > ul > li > span {color:#589bc6; font-weight:bold;}



/*sns_area*/
.sns_area {
  float:right;margin-top:60px;
  width:220px; height:180px; }
.followus { 
  width: 100%; height:30%;
  background-image:url(../../../../img/vans_main_pc/footbox/followus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:60%;}
.facebook {
  float:left; margin-top:10px;
  width:50%; height:60%;
  background-image:url(../../../../img/vans_main_pc/footbox/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:70%;}
.insta {
  float:right; margin-top:10px; 
  width:50%; height:60%;
  background-image:url(../../../../img/vans_main_pc/footbox/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:70%;}



}