/*main_pc_headbox.css*/
@media screen and (min-width:768px) and (max-width:1365px){
#headbox {
  position:relative;
  width: 100%; height: 30%; background-color: #ccc;}

  h1 {
  position:absolute;
  top:27%; left:50%; margin-left:-150px;
  width:300px; height: 200px; background-color: #800000;}

/*unbbox*/
.unbbox {
  width: 100%; height:80px; background-color: #aaa;}
.unbbox > ul { 
  margin: auto;box-sizing:border-box; padding-top:10px;
  width: 1382px; height:80px; background-color:#808000 ; }
.unbbox > ul > li { 
  float:left;
  width:100%; height:60px; background-color: #FFFF40; }
.unbbox > ul > li:nth-child(1) {margin-left:325px; width: 182px;}
.unbbox > ul > li:nth-child(2) {margin-left:30px;  width: 310px; }
.unbbox > ul > li:nth-child(3) {margin-left:30px; width: 212px;}

/*navibox*/
.navibox {
  margin-top:70px;
  width: 100%; height:150px; background-color:#008080;}
.navibox > ul {
  margin: auto;
  width: 100%; height: 112px; background-color: #00C0C0;}
.navibox > ul > li {
  float:left;
  width:100%; height:112px; background-color:#C0FFFF;}
.navibox > ul > li:nth-child(1) {width: 191px;}
.navibox > ul > li:nth-child(2) {margin-left:50px; width: 232px;}
.navibox > ul > li:nth-child(3) {margin-left:60px; width: 152px;}
.navibox > ul > li:nth-child(4) {margin-left:460px; width: 212px;}
.navibox > ul > li:nth-child(5) {margin-left:60px; width: 182px;}
.navibox > ul > li:nth-child(6) {margin-left:50px; width: 251px;}
}