/*main_pc_newsbox.css*/
@media screen and (min-width:768px) and (max-width:1365px) {
#newsbox {
  position:relative;
  box-sizing:border-box; padding-top: 240px; padding-bottom:170px;
  width: 100%; height: auto;background-color: #fff;}

#newsbox > h2 {
  z-index:1000;
  position:absolute; top:5%; right:30%;
  width:40%; height: 282px; background-color:#004000;}

/*news_wrap*/
.news_wrap {width: 100%;height:1700px; background-color: #f5f4f9; }


/*news_01*/
.news_01 {
  position:absolute; top:13%; left:3%;
  width: 40%; height:700px; background-color:#C00000;}
.box_01{
  position:absolute; top:45%; left:70%;
  width:50%; height:350px; background-color: #000;}
.day_01{
  position:absolute; top:3%;
  width: 100%; height:90px; background-color: #fff;}
.text_01{
  margin-top:100px;
  width: 100%; height:60%; background-color: #ccc;}

/*news_02*/
.news_02 {
  position:absolute; top:20%; right: 0;
  width:45%; height: 750px; background-color: #008000;}
.box_02{
  position:absolute; top:55%; right:45%;
  width:50%; height:350px; background-color: #000;}
.day_02{
  position:absolute; top:3%;
  width: 100%; height:90px; background-color: #fff;}
.text_02{
  margin-top:100px;
  width: 100%; height:60%; background-color: #ccc;}

/*news_03*/
.news_03 {
  position:absolute; bottom:23%; 
  width: 50%; height: 600px; background-color:#FF8040;}
.box_03{
  position:absolute; bottom:-20%; left:5%;
  width:50%; height:350px; background-color: #000;}
.day_03{
  position:absolute; top:3%;
  width: 100%; height:90px; background-color: #fff;}
.text_03{
  margin-top:100px;
  width: 100%; height:60%; background-color: #ccc;}

/*news_04*/
.news_04 {
  position:absolute; bottom:10%; right:3%;
  width: 42%; height:700px; background-color: #8080FF;}
.box_04{
  position:absolute; bottom:-20%; right:70%;
  width:50%; height:350px; background-color: #000;}
.day_04{
  position:absolute; top:3%;
  width: 100%; height:90px; background-color: #fff;}
.text_04{
  margin-top:100px;
  width: 100%; height:60%; background-color: #ccc;}

}